GOOGLE_CREDENTIALS_PATH=../credentials/arquivo-google.json
SPREADSHEET_ID=id_da_planilha
SHEET_NAME=nome_da_planilha

WHATSAPP_NUMBER=numero_fallback

# Cron Configuration (Dia 01 às 08:40)
CRON_SCHEDULE=40 8 1 * *

# Environment
NODE_ENV=development

DATABASE_URL="postgresql://srbarrigabot:srbarrigabot@localhost:5432/srbarrigabot_db"
JWT_SECRET="sua_secret"